body {
    font-family: 'Courier New', Courier, monospace;
    padding: 1.5rem
}

p {
    margin-bottom: .75rem;
}

input {
    border-width: 1px;
    border-color: black;
    caret-color: black;
    caret-shape: block;
}

#restartButton {
    border-width: 1px;
    border-color: black;
    caret-color: black;
    padding: 8px 40px;
}

#restartButton:hover {
    background-color: gray;
    color: white;
}

.descriptionHeading {
    font-weight: 700;
}