body {
    font-family: 'Courier New', Courier, monospace;
    padding: 1.5rem
}


input {
    border-width: 1px;
    border-color: black;
    caret-color: black;
    caret-shape: block;
}

.restartButton {
    border-width: 1px;
    border-color: black;
    caret-color: black;
    padding: 8px 40px;
}

.restartButton:hover {
    background-color: gray;
    color: white;
}

.descriptionHeading {
    font-weight: 700;
}

.welcomeP {
    padding-top: 8px;
}



hr {
    padding: 0 12px
}